<!DOCTYPE html>
<html ng-app="FabLatApp">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1" />

    <title>Fab Lat</title>
    <meta name="description" content="">
    <meta property="fb:admins" content="1296933646" />
    <meta property="og:site_name" content="Fab Lat" />
    <meta property="og:title" content="Fab Lat" />
    <meta property="og:description" content="" />
    <meta property="og:type" content="website" />
    <meta property="og:image" content="" />
    <meta property="og:url" content="" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.css">
    <link rel="stylesheet" href="css/app.css">

    <!-- Favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
</head>

<body layout="row" ng-cloak ng-controller="AppCtrl">

    <div layout="column" flex role="main">
        <md-progress-linear md-mode="indeterminate" class="md-hue-1" ng-if="isLoading"></md-progress-linear>

        <md-toolbar md-whiteframe="2">
            <div class="md-toolbar-tools">
                <!-- <md-button class="md-icon-button" aria-label="Menu Button" hide-gt-sm ng-click="toggleSidenav('left')">
                    <md-icon md-font-set="material-icons" aria-label="Menu">menu</md-icon>
                </md-button> -->
                <h1>
                    <a href="https://fab.lat" style="display: flex; align-items: center;">
                        <img src="/images/fablat_logo.svg" width="40" height="40" alt="Fab Lat logo" />
                        <span style="margin-left: 13px; color: white;">Fab LaT</span>
                    </a>
                </h1>

                <ul id="main-navbar" class="list-unstyled" style="margin-left: 20px;">
                    <li>
                        <a ui-sref="dashboard.groups" ui-sref-active="active">Dashboard</a>
                    </li>
                    <li>
                        <a ui-sref="groups" ui-sref-active="active">Groups</a>
                    </li>
                    <li>
                        <a ui-sref="workshops" ui-sref-active="active">Workshops</a>
                    </li>
                </ul>

                <span flex></span>

                <md-menu md-offset="0 50" md-position-mode="target-right target">
                    <md-button aria-label="Open user avatar menu" class="md-icon-button" style="height: auto; width: auto;" ng-click="$mdMenu.open($event)">
                        <user-avatar md-menu-origin fabber="user" avatar-w="38" avatar-h="38" avatar-font-size="18"></user-avatar>
                    </md-button>
                    <md-menu-content width="3">
                        <md-menu-item>
                            <md-button ui-sref="settings.profile">
                                Settings
                            </md-button>
                        </md-menu-item>
                        <md-menu-item>
                            <md-button ng-href="/logout">
                                Sign out
                            </md-button>
                        </md-menu-item>
                    </md-menu-content>
                </md-menu>
            </div>
        </md-toolbar>

        <md-content flex ui-view class="main-content"></md-content>
    </div>


<!-- Dependencies for Cloudinary upload -->
<script src="js/lodash.min.js"></script>
<script src="js/cloudinary-core.min.js"></script>
<!-- Angular Material Dependencies -->
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular-route.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular-animate.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular-aria.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.3/angular-messages.js"></script>
<script src="https://unpkg.com/@uirouter/angularjs/release/angular-ui-router.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/angular-material/1.1.4/angular-material.min.js"></script>
<!-- Date and Time manipulation libraries -->
<script src="js/moment.min.js"></script>
<script src="js/angular-moment.min.js"></script>
<!-- For selecting locations when creating workshops -->
<script src="https://maps.googleapis.com/maps/api/js?libraries=places&key=AIzaSyDVgX4TuMk8TAWD2VoWvkCCcpgDPQ-MzPs"></script>
<script src="js/vs-google-autocomplete.js"></script>
<!-- Angular File upload -->
<script src="js/ng-file-upload-shim.min.js"></script> <!-- for no html5 browsers support -->
<script src="js/ng-file-upload.min.js"></script>
<!-- Cloudinary angular plugin -->
<script src="js/angular.cloudinary.js"></script>

<script src="js/app.js"></script>

</body>
</html>